################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinearIndexedGrammar/bin/Debug/netcoreapp2.0
/LinearIndexedGrammar/obj
/LinearIndexedGrammarParser/bin/Debug/netcoreapp2.0
/LinearIndexedGrammarParser/obj
