################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinearIndexedGrammar/bin
/LinearIndexedGrammar/obj
/LinearIndexedGrammarParser/bin
/LinearIndexedGrammarParser/obj
/LinearIndexedGrammarLearner/bin
/LinearIndexedGrammarLearner/obj
/LinearIndexedGrammarParserTests/bin
/LinearIndexedGrammarParserTests/obj

