################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinearIndexedGrammar/bin
/LinearIndexedGrammar/obj
/LinearIndexedGrammarParser/bin
/LinearIndexedGrammarParser/obj
/LinearIndexedGrammarLearner/bin
/LinearIndexedGrammarLearner/obj
/LinearIndexedGrammarParserTests/bin
/LinearIndexedGrammarParserTests/obj

/LinearIndexedGrammar.sln.DotSettings
/GrammarLearnerGUI/bin/Release/net5.0
/GrammarLearnerGUI/obj
/GrammarLearnerGUI/bin/Debug/net5.0
